.container {
    display: flex;
    justify-content: space-between;
}
.column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border: 1px solid red;
}
.left-column, .right-column {
    flex-basis: 25%;
}
.center-column {
    flex-basis: 50%;
}